body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #0d3b27;
    color: #a8faa3;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pais{
    background-color: #040f0f;
    width: 350px;
    text-align: center;
    border-radius: 25px;
    padding-bottom: 15px;
    overflow: hidden;
}

h1{
    color: #f4f4f4;
    text-align: center;
}

h2{
    margin: 0;
    background-color: #208b3a;
    border-bottom: 2px solid #9cfc97;
    padding: 25px;
    margin-bottom: 20px;
}

p{
    margin: 0;
    margin-bottom: 15px;
}

h4{
    margin: 0;
    color: #9cfc97;
}

ul{
    margin: 0;
    list-style: none;
    margin-left: -38px;
    margin-bottom: 15px;
}

.botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

a{
    background-color: #208b3a;
    text-decoration: none;
    color: #ccfcca;
    border-radius: 15px;
    padding: 15px;
    width: 100px;
    cursor: pointer;
}
a:hover{
    background-color: #36a853;
}

button{
    background-color: #d90429;
    border: none;
    color: #f4f4f4;
    padding: 15px;
    width: 120px;
    height: 50px;
    border-radius: 15px;
    font-size: medium;
    font-weight: 700;
    cursor: pointer;
}
button:hover{
    background-color: #ef233c;
}